<%= render  'shared/header' %>

<div class="artist_h1"><h1>Favorite Artists</h1>
  <% @artists.each do |artist| %>
      <h2 class="card-title"><%= artist[:name] %></h2>
      <% artist.songs.each do |song| %>
      <% end %>
  <% end %>
</div>



