

<div id='user_info'>
<%= image_to(url:'')%>
<%= user.name %>
</div>

<div id='day'>Song of the Day</div>
<% @artist.each do |artist|%>
<%= @artist.name%>
<%= @artist.genre%>
<% end %>

<div id='profile'>
	<div id='artist'>Favorite Artist</div>
	<div id='song'>Favorite Song</div>
</div>
