<%= render  'shared/header' %>
    <div id='user_info'>
        <%= @user.name %>
    </div>
    <div id='day'>Song of the Day</div>
    <!-- song of the day controller -->
    <div id='profile'>
        <div id='artist'>
            <%= link_to("Favorite Artist", new_artist_path)%>
        </div>
        <div id='song'>
            <%= link_to("Favorite Song", new_song_path)%>
        </div>
    </div>