
<div class="navbar">
    <!-- NAVIGATION LINKS -->
    <h1 id='title'>Song Of the Day App (SODA!)</h1>
    <!-- PROFILE LINK -->
    <div id='profile' class="p-2">
        <%= link_to("Profile", "/users/#{@current_user[:id]}") %>
    </div>
    <!-- SONG SEARCH -->
    <div id='search' class="p-2">
        <%= link_to("Add Song", search_path) %>
    </div>
    <!-- LOGOUT -->
    <div id='logout' class="p-2">
        <%= link_to("Logout", logout_path, method: "delete") %>
    </div>
</div>
