<nav>
    <!-- NAVIGATION LINKS -->
    <h1>Song Of the Day App (SODA!)</h1>
   	  <%= link_to("Add Song", search_path) %>
      <%= link_to("Profile", user_path) %> 
      <%= link_to("logout", logout_path, method: "delete") %> 
    </nav>