<h1>Favorite Artists</h1>

<div class="nav-links">

<!-- We need these links here: Logout, Add song, Profile -->
   <!-- <%= render "", {} %> -->

   <%= link_to("", , :class => "") %>

</div>




<!-- <div class="artist-songone">
<h2>Artist with the Songs</h2>
</div>

<div class="artist-songtwo">
<h2>Artist with the Songs</h2>
</div>

<div class="artist-songthree">
<h2>Artist with the Songs</h2>
</div>

<div class="artist-songfour">
<h2>Artist with the Songs</h2>
</div>

<div class="artist-songfive">
<h2>Artist with the Songs</h2>
</div>

<div class="artist-songsix">
<h2>Artist with the Songs</h2>
</div> -->

