<%= render  'shared/header' %>
<h1>Favorite Songs</h1>

<div class="nav-links">

<!-- We need these links here: Logout, Add song, Profile -->
   <!-- <%= render "", {} %> -->

   <%= link_to("", , :class => "") %>

</div>

<div class="songs-artist">
<h2>List of the Songs</h2>
<h2>Votes</h2>
</div>