<h1>Welcome to your favorite songs!</h1>
<h1>Favorite Songs</h1>

<div class="nav-links"> </div>
<%= render  'shared/header' %>

<h2 class="page-title first-bg"> HEY PUT A FUNCTION TO GET THE TITLE OF THE SONG HERE! </h2>

<div>
    <% @songs.each do |song| %>
    <div>
        <%= link_to(song.name, song) %>
        <h4><%= link_to("By: #{song.artist.name}", song.artist) %></h4>
    </div>
    <% end %>
</div>
