<%= render  'shared/header' %>
<div class="page-title second-bg">
  <h1>Search</h1>
  <div class="info search-info">
    <%= form_tag("/songs/search", :remote=>true, :class => "search") do %>
      <%= text_field_tag(:s, '', :placeholder => "Search") %>
      <%= submit_tag("➔", :id => "submit", :class => "pop-button") %>
    <% end %>
  </div>
</div>

<div class="show">
  <div class="songs results">

  </div>
</div>

