/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	/*background: url('back.jpg') no-repeat top center;
	background-size: cover;*/
	font-family: 'Quicksand', sans-serif;
	background-color: dimgrey;
}

a{
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

/***** LOGIN PAGE *******/
.container{
	position: relative;
	top: 15em;
}

#head{
	position: relative;
	display: inline-block;
	top: 5em;
	left: 60%;
	font-size: 3em;
}


#button{
	position: relative;

	
}

#link{
	position: relative;
	display: inline-block;
	padding: .5%;
	left: 78em;
	bottom: 2.5em;
	border: thin solid grey;
	border-radius: 5px;
}

.bkg_image {
	position: fixed;
	max-width: 800px;

}


/************ SIGN UP ***********/

#register{
	position: relative;
	display: inline-block;
	top: 5em;
	left: 70%;
	font-size: 3em;
}

#save{
	left: 12em;
}

/******** NAV BAR **********/
.navbar{
	background-color: transparent;
	color: white;
	border-bottom: grey solid;
}

#title{
	margin: 0 auto;
	font-size: 2.8em;
	color: white;
}

#profile{
	position: relative;
	float:right;
	font-size: 1.5em;
	padding: .2em;
	color: white;
}

#search{
	position: relative;
	float:right;
	font-size: 1.5em;
	padding: .2em;
	color: black;

}

#logout{
	position: relative;
	float:right;
	font-size: 1.5em;
	padding: .2em;
	color: white;
}

/******** EDIT PROFILE **********/
#custom{
	top: 1em;
	right: 40em;

}

#name{
	position: relative;
	text-align: center;
}

#update_email{
	position: relative;
	text-align: center;
}

#pass{
	position: relative;
	text-align: center;
}

#pass_conf{
	position: relative;
	text-align: center;
}

#genre{
	position: relative;
	text-align: center;
}

#location{
	position: relative;
	text-align: center;
}

#img{
	position: relative;
	text-align: center;
}

#update{
	position: relative;
	text-align: center;
	left: 60em;
}

/********** USER PROFILE ***********/

#user{
	position: relative;
	display: inline-block;
	font-size: 2em;
	left: 5em;
}

#my_genre{
	position: relative;
	display: inline-block;
	font-size: 2em;
	left: 5em;
}

#my_location{
	position: relative;
	display: inline-block;
	font-size: 2em;
	left: 5em;
}

#day{
/*	position: relative;*/
/*	display: inline-block;*/
	left: 40em;
	background-color: white;
	width: 250px;
/*	height: 250px;*/
}

#artist{
	position: relative;
	left: 50%;
	top: 1em;
}

#song{
	position: relative;
	left: 30%;
}

#custom_prof{
	position: relative;
	left: 15em;
	bottom: 13em;
	font-size: 15px;
}

.sod {
	color: black;
	position: relative;
	font-size: 30px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	left: 20px;
}

.edit-form {
	color: black;
	position: relative;
	font-size: 30px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	left: 70px;
}

/********* FAVORITES ************/

.artist_h1 {
	color: white;
	position: relative;
	float: right;
	right: 200px;
}

.songs_head {
	color: white;
	position: relative;
	float: right;
	right: 200px;
}

.nav-links {
	color: white;
	position: relative;
	float: right;
	top: 250px;
}

.vote {
	color: black;
}

.delete {
	color: black;
}


/********* SONG SEARCH ************/

#search_song{
	position: relative;
	text-align: center;
	top: 5.7em;
	right: 3em;
	color: white;
	
}

#music{
	position: relative;
	right: 25em;
	color: white;
}

.search_btn {
	color: black;
}

/******* SONG SEARCH RESULT ******/

#head_result{
	position: relative;
	display: inline-block;
	left:27em;
	top:3em;
}

.result{
	position: relative;
	left: 60em;
	top: 10em;
	left: 60em;
	top: 10em;
}

.results{
	position: relative;
	overflow: scroll;
	top: 12em;
	left: 65em;


}
/********* MEDIA QUERY *************/

@media screen and (min-width: 360px) {
#head{
	position: relative;
	display: inline-block;
	top: 5em;
	left: 60%;
	font-size: 3em;
}


#button{
	position: relative;

	
}

#link{
	position: relative;
	display: inline-block;
	padding: .5%;

	bottom: 2.5em;
	border-radius: 5px;
}

}


/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) { 
#head{
	position: relative;
	display: inline-block;
	top: 5em;
	left: 60%;
	font-size: 3em;
}


#button{
	position: relative;

	
}

#link{
	position: relative;
	display: inline-block;
	padding: .5%;
	left: 44em;
	bottom: 2.5em;

	border-radius: 5px;
}


}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 


 }

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 


 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 



 }

 /*Artist page*/

 .art_1 {
 	color: black;
	position: relative;
	font-size: 30px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	left: 20px;

 }















