/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	background:url(soda.jpeg) no-repeat left top;
	background-size: fixed;
	font-family: 'Lobster', cursive;
}


/***** LOGIN PAGE *******/
.container{
	position: relative;
	top: 15em;
}

#head{
	position: relative;
	display: inline-block;
	top: 5em;
	left: 60%;
	font-size: 3em;
}


#button{
	position: relative;

	
}

#link{
	position: relative;
	display: inline-block;
	padding: .5%;
	left: 78em;
	bottom: 2.5em;
	border: thin solid grey;
	border-radius: 5px;
}


/************ SIGN UP ***********/

#register{
	position: relative;
	display: inline-block;
	top: 5em;
	left: 70%;
	font-size: 3em;
}

#save{
	left: 12em;
}

/******** NAV BAR **********/
.navbar{
	background-color: transparent;
	color: black;
	border-bottom: grey solid;
}

#title{
	margin: 0 auto;
	font-size: 2.8em;
}

#profile{
	position: relative;
	float:right;
	font-size: 1.5em;
	padding: .2em;
}

#search{
	position: relative;
	float:right;
	font-size: 1.5em;
	padding: .2em;

}

#logout{
	position: relative;
	float:right;
	font-size: 1.5em;
	padding: .2em;
}

/******** EDIT PROFILE **********/
#custom{
	top: 2em;
}

#name{
	position: relative;
	text-align: center;
}

#update_email{
	position: relative;
	text-align: center;
}

#pass{
	position: relative;
	text-align: center;
}

#pass_conf{
	position: relative;
	text-align: center;
}

#genre{
	position: relative;
	text-align: center;
}

#location{
	position: relative;
	text-align: center;
}

#img{
	position: relative;
	text-align: center;
}

#update{
	position: relative;
	text-align: center;
	left: 60em;
}

/********** USER PROFILE ***********/

#user{
	position: relative;
	display: inline-block;
	font-size: 2em;
	left: 5em;
}

#my_genre{
	position: relative;
	display: inline-block;
	font-size: 1em;
	left: 5em;
}

#my_location{
	position: relative;
	display: inline-block;
	font-size: 1em;
	left: 5em;
}

#day{
	position: relative;
	left: 60em;
}

#artist{
	position: relative;
	left: 80%;
}

#song{
	position: relative;
	left: 80%;
}

#custom_prof{
	position: relative;
	left: 5em;
	bottom: 13em;
}

/********* SONG SEARCH ************/

#search_song{
	position: relative;
	text-align: center;
	top: 5em;
	left: 10em;
}

#music{
	position: relative;
	left: 10em;
}

/******* SONG SEARCH RESULT ******/

#head_result{
	position: relative;
	display: inline-block;
	left:27em;
	top:3em;
}

.result{
	position: relative;
	left: 60em;
	top: 10em;
	left: 60em;
	top: 10em;
}

.results{
	position: relative;
	overflow: scroll;
	top: 12em;
	left: 65em;


}
/********* MEDIA QUERY *************/

@media screen and (min-width: 360px) {
#head{
	position: relative;
	display: inline-block;
	top: 5em;
	left: 60%;
	font-size: 3em;
}


#button{
	position: relative;

	
}

#link{
	position: relative;
	display: inline-block;
	padding: .5%;

	bottom: 2.5em;
	border-radius: 5px;
}

}


/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) { 
#head{
	position: relative;
	display: inline-block;
	top: 5em;
	left: 60%;
	font-size: 3em;
}


#button{
	position: relative;

	
}

#link{
	position: relative;
	display: inline-block;
	padding: .5%;
	left: 44em;
	bottom: 2.5em;

	border-radius: 5px;
}


}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 


 }

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 


 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 



 }















